/.idea/
/backend/target/classes/com/inf5190/chat/auth/AuthController.class
/backend/target/classes/com/inf5190/chat/auth/filter/AuthFilter.class
/backend/target/classes/com/inf5190/chat/ChatApplication.class
/backend/target/classes/com/inf5190/chat/config/CorsConfig$1.class
/backend/target/classes/com/inf5190/chat/config/CorsConfig.class
/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/frontend_ang/frontend_ang.iml
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/backend/target/classes/com/inf5190/chat/auth/model/LoginRequest.class
/backend/target/classes/com/inf5190/chat/auth/model/LoginResponse.class
/backend/target/classes/com/inf5190/chat/messages/model/Message.class
/backend/target/classes/com/inf5190/chat/messages/MessageController.class
/backend/target/classes/com/inf5190/chat/messages/repository/MessageRepository.class
/backend/target/classes/com/inf5190/chat/auth/session/SessionData.class
/backend/target/classes/com/inf5190/chat/auth/session/SessionDataAccessor.class
/backend/target/classes/com/inf5190/chat/auth/session/SessionManager.class
/backend/target/classes/com/inf5190/chat/websocket/config/WebSocketConfig.class
/backend/target/classes/com/inf5190/chat/websocket/WebSocketHandler.class
/backend/target/classes/com/inf5190/chat/websocket/WebSocketManager.class
